:root {
  --main-color: rgb(203, 254, 28);
}
.main-color {
  color: rgb(203, 254, 28);
  font-size: 20px;
  font-weight: 700;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}
nav {
  background-color: #0b0e13;
  font-family: Chakra Petch;
}

nav span {
  color: rgb(203, 254, 28);
}
.fa-solid.fa-bars {
  color: white;
}
.fa-solid.fa-bars:hover {
  color: rgb(203, 254, 28);
}
.my-nav .active {
  color: var(--main-color) !important;
}

.my-btn {
  padding: 0.5rem 1.5rem;
  background-color: var(--brand-color);
  color: #0a0f13;
  font-family: var(--content-font);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  border-radius: 0.5rem;
  border: none;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
  background-color: var(--main-color);
}
.fa-regular.fa-message:hover,
.fa-regular.fa-bell:hover {
  color: var(--main-color);
}
.effect {
  position: relative;
  overflow: hidden;
}
.effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #0000, #fff6, #0000);
  transition: left 0.3s ease-in-out;
  z-index: 1;
}
.effect:hover::before {
  left: 100%;
}
.my-btn:hover {
  background-color: rgba(202, 254, 28, 0.7);
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8)), url(../img/hero-bg.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.caption p {
  font-size: 16px;
  color: oklch(0.872 0.01 258.338);
  font-weight: 400;
  font-family: Chakra Petch;
}
.caption h1,
.caption span {
  font-family: Days One;
  font-size: 60px;
  font-weight: 600;
}

.my-btn2 {
  border: 1px solid var(--main-color);
  background-color: transparent;
  color: var(--main-color);
  transition: all 0.3s ease-in-out;
}
.my-btn2:hover {
  background-color: var(--main-color);
  color: #0a0f13;
}
.my-image {
  /* display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8vh;
  position: relative; */
}
.image-clip-text {
  /* bottom: -100px; */
  top: 0;
}
.image-clip {
  /* width: 85%; */
  /* max-width: 600px; */
  height: 410px;
  /* overflow: hidden; */
  border: 5px solid #a4ce1a;
  border-radius: 12px;
  position: relative;
}

.image-clip img {
  object-fit: cover;
}
.image-clip p {
  font-size: 16px;
}
.image-clip h3 {
  font-size: 20px;
}

.fa-solid.fa-trophy {
  color: #a4ce1a;
}
.padeg {
  bottom: 0px;
  left: 0px;
  transform: translate(-30%, 20%);
  background-color: #0a0f13;
  padding: 1rem;
  border: 0.5px solid #9a9d90;
  border-radius: 12px;
  /* z-index: 3; */
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Chakra Petch";
  font-weight: 700;
  color: rgb(203, 254, 28);
  font-size: 20px;
  margin-top: 30px;
}

.title::before {
  content: "";
  display: block;
  width: 120px;
  height: 4px;
  background: linear-gradient(to right, transparent, #a4ce1a);
  border-radius: 2px;
}
.title::after {
  content: "";
  display: block;
  width: 120px;
  height: 4px;
  background: linear-gradient(to right, #a4ce1a, transparent);
  border-radius: 2px;
}
.title1 {
  font-size: 40px;
  font-weight: 700;
  font-family: Days One;
}
.w-33 {
  width: 33%;
  border-radius: 20px;
}
.btn-game {
  background-color: transparent;
  border: var(--main-color) 2px solid;
  border-radius: 8px;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
  font-family: Chakra Petch;
  padding: 1rem 2rem;
  font-weight: bold;
}
.btn-game:hover {
  background-color: var(--main-color);
  color: #0b0e13;
}
.arrow {
  border-radius: 50%;
  color: white;
  border: 3px white solid;
}
.icon {
  color: #a4ce1a;
  width: fit-content;
  border-radius: 9px;
  opacity: 0;
  margin-left: 10px;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transform: translateY(-10px);
}
.leyar {
  position: absolute;
  bottom: 0;
  left: 10px;
  opacity: 0;
  width: 95%;
  height: 30%;
  background-image: linear-gradient(transparent, #a4ce1a);
}
.game-card:hover .leyar {
  opacity: 1;
}
.game-card:hover .icon {
  opacity: 1;
  transform: translateY(0);
}
.title2 {
  font-family: Days One;
  font-size: 48px;
  font-weight: 700;
}
.title2 span {
  color: var(--main-color);
}
.border-blue {
  border: 1px solid #1e2939;
  border-radius: 10px;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 20px solid var(--main-color);
  border-bottom: 8px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  top: 8px;
  left: 8px;
  transition: opacity 0.4s ease, transform 0.4s ease;
  opacity: 0;
}
.triangle-buttom {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 20px solid var(--main-color);
  border-left: 20px solid transparent;
  position: absolute;
  bottom: 8px;
  right: 8px;
  transition: opacity 0.4s ease, transform 0.4s ease;
  opacity: 0;
}

.card1:hover .triangle-left,
.card1:hover .triangle-buttom {
  opacity: 1;
}

.card1:hover {
  border-color: #a4ce1a;
}

.tv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 25px;
  border-radius: 8px;
  color: #a4ce1a;
  font-weight: 700;
  font-size: 20px;
  background-color: rgb(5, 4, 38);
}

.card1:hover .tv {
  color: rgb(5, 4, 38);
  background-color: #a4ce1a;
}

.card1 .d-flex {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.caption-icon {
  font-size: 20px;
  font-family: "Days One", sans-serif;
  font-weight: 700;
}
.card1 {
  background-color: #1a1a1a;
}
.line {
  position: relative;
  margin: 0 auto;
}
.line::before {
  content: "";
  display: block;
  width: 40%;
  height: 2px;
  background-image: linear-gradient(to right, black, #a4ce1a, black);
  box-shadow: 0px 0px 15px 5px rgba(164, 206, 26, 0.5);
  margin: 0 auto;
}
.bill {
  position: relative;
  margin-top: 60px;
  width: 80%;
  height: auto;
  margin: 0 auto;
  border-radius: 50px;
  background-color: transparent;
  box-shadow: 0 0 50px 20px rgba(164, 206, 26, 0.5);
}

.image-marquee {
  overflow: hidden;
  width: 100%;
}

.marquee-track {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
  animation: marquee 20s linear infinite;
}

.marquee-track img {
  border-radius: 15px;
  flex: 0 0 auto;
  width: 8.33%;
  max-width: 100px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.marquee-track-reverse {
  display: flex;
  gap: 10px;
  animation: marquee-reverse 20s linear infinite;
}
.marquee-track-reverse img {
  border-radius: 15px;
  flex: 0 0 auto;
  width: 8.33%;
  max-width: 100px;
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.text-p {
  font-size: 20px;
  font-weight: 400;
  font-family: Chakra Petch;
  color: oklch(0.707 0.022 261.325);
}

/* Adding my Edits */

nav .nav-link {
  --bs-nav-link-color: #f1f1f1;
  --bs-nav-link-font-weight: 100;
  --bs-nav-link-font-size: 16px;
  font-weight: 100;
}

.nav-link:focus,
.nav-link:hover,
.nav-link:hover span {
  color: var(--main-color);
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

#home {
  padding-top: 14rem;
}

#carouselExampleIndicators {
  height: 300px;
}

.carousel-inner,
.carousel-item,
.carousel-item > div,
.carousel-item > div > div {
  height: 100%;
}
button[data-bs-slide="prev"] {
  /* margin-left: 60px; */
}
button[data-bs-slide="prev"],
button[data-bs-slide="next"] {
  position: static;
  border: 1px solid rgb(94, 92, 92);
  border-radius: 50px;
  background-color: transparent;
  width: 50px;
  height: 50px;
}
button[data-bs-slide="prev"]:hover,
button[data-bs-slide="next"]:hover {
  border-color: var(--main-color);
  color: var(--main-color);
  --bs-btn-hover-bg: transparent;
  border-width: 2px;
}
